
/* fix in admin approve register requests */
.fixx{
	position:absolute; top:0px;
}

.word-breakX {
	
	word-wrap: break-word;

	
}

/* class to highlight clicked row in admin approve register requests  */
.clicked-x{
	background-color: #ffffcc;  /* yellow */	
}

.invoice-selected{
	color:black;
}

#formFinish{ 
   display:none;
}

.borderZ{
	border: 1px solid red;border-radius:25px; padding:0.1em;
}

/*Class for taken and free dates     #00e600*/
.taken{background-color:#ff471a; color:white; margin-bottom: 1em; margin-left:1em; padding:0.7em; border: 22px; cursor:not-allowed;} /* border:solid red 2px;padding:2em; */
.free {background-color:#5cb85c; color:white; margin-bottom: 1em; margin-left:1em; padding:0.7em; border: 22px; cursor:pointer;} /* padding:2em; */
.clicked-interv{background-color: navy !important; }  /* yellow */
/*Link to book a date*/
.bookLink{font-size:1em; text-decoration: underline;}






/* ---Loader for ajax, used in admin/views/load-out-index ---*/
.loader {
  /* Color of the loader */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid red;
  border-bottom: 16px solid red;
  width: 180px;
  height: 180px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  
  /* Center the loader */
  position:fixed; /* use fixed instead of absolute, to make sure loader is in the center regadless of scroll*/
  /*position: absolute;*/
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  display:none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }  /* Speed, was 360deg */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* END Loader for ajax, used in admin/views/load-out-index ---*/

